
<div id="mudarSituacao">
	<button type="submit" class="btn-info" data-toggle="modal"
		data-target="#situacaoDaPrefeitura{{$index}}">Alterar
		Situação da Prefeitura</button>

	<div id="situacaoDaPrefeitura{{$index}}" class="modal fade"
		role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title alinhacentro">Alterar Situação da
						Prefeitura</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<input type="radio" name="situacao"
							ng-model="SituacaoPrefeitura.NORMAL" /><b>Normal</b> <input
							type="radio" name="situacao" ng-model="SituacaoPrefeitura.EXTRA" /><b>Extra</b>
						<input type="radio" name="situacao"
							ng-model="SituacaoPrefeitura.CAOS" /><b>Caos</b>
						<h1></h1>
						<div class="input-group-btn">
							<button class="btn btn-basic" type="submit"
								ng-click="modificaSituacaoPrefeitura(situacao)"
								data-dismiss="modal">
								<i>Enviar</i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>